 /*Colour pallet ourced from https://colorhunt.co/palette/a2d2fffef9efff865efee440 */

:root {
  --blue: #A2D2FF;
  --white: #FEF9EF;
  --peach: #FF865E;
  --yellow: #FEE440;
  --navy: #2c4174;
}

* {
    font-family: Helvetica, Arial,  sans-serif;
}


/*Naming the areas using the grid-area property.*/
.main-head {
    grid-area: header;
  }
.main-nav {
  grid-area: nav;
}
.about {
  grid-area: about;
}
.work {
  grid-area: work;
}
.contact {
  grid-area: contact;
}
.footer {
  grid-area: footer;
}
#nav-header {
  grid-area: nav-header;
}
#my-photo {
  grid-area: my-photo;
}
#about-bubble {
  grid-area: about-bubble;
}
#resume-bubble {
  grid-area: resume-bubble;
}
#works-bubble {
  grid-area: works-bubble;
}
#contact-bubble {
  grid-area: contact-bubble;
}
  
/*Setting up the layout for the mobile grid.*/
body {
  display: grid;
  gap: 20px;
  grid-template-areas:
  "header"
  "nav"
  "about"
  "work"
  "contact"
  "footer";

  /*Setting the basic styling for the body.*/
  font-size: 1.5em;
  line-height: 1.5;
  background-color: var(--white);
  color: black;
}

header {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  /*Creating the flex container for the figure to make it reactive to display size.*/
  display: flex;
  flex-direction: column;
}

/*Tying the size of the figure with the size of the display.*/
header figure {
  width: 100%;
  bottom: 0;
}

/*Creating the yellow circle with oversized image of name.*/
#name-bubble {
  width: 130px;
  height: 130px;
  background-color: var(--yellow);
  border-radius: 50%;
}

#main-head {
  width: 300%;
  margin-top: 42%;
  
}

.main-nav {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "nav-header nav-header"
    "about-bubble my-photo"
    ". resume-bubble"
    "portfolio ."
    ". contact-bubble";
}

/*Setting the layout for the tablet grid*/
@media screen and (min-width: 480px) {
  body {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "header header"
        "nav about"
        "work work"
        "contact contact"
        "footer footer";
  }
}

/*Setting the layout for the desktop grid*/
@media screen and (min-width: 800px) {
    body {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
            "header header header"
            "nav about about"
            "work work contact"
            "footer footer footer";
    }
}
  